body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); 
    margin: 0;
    text-align: center;
    width: 100vh;
    /*font-family: "TP Vorzeit Grotesk Demi",Monaco, arial;*/
    font-family: arial;
}

header {
    margin: 20px;
    border: 5px solid black;
    padding: 40px white;
    text-align: left;
}

h1 {
    margin: 20px;
    padding: 40px white;
}

.book_review {
    text-align: left;
    margin: 40px;
    padding 60px white;
    font-size: 20px;
}

.list {
    margin: 20px;
    border: 5px solid black;
    text-align: left;
    font-size: 20px;
}

.row {
    text-align: left;
    margin: 10px;
    display: flex;
    font-size: 20px;
}

.col {
    text-align: left;
    margin: 10px;
    display: inline-block;  
}


.full {
  color: rgb(0,0,0);
  text-decoration: underline;
  width: 100%;
}

.full:hover{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

.wrap {
    display:flex;
    flex-direction: row;
}

.box_scroll {
    height: 100vh;
    width: 50vw;
    background-color: white;
    overflow: scroll;
}

.box_no_scroll {
    height: 100%;
    width: 50%;
    background-color: white;
}

.book-fit {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.social {
    padding: 10px;
    margin 10px;
    text-align: left;
}

 /* Style all font awesome icons */
.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 5%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.white_list {
    margin: 20px;
    border: 5px white;
    text-align: left;
    font-size: 20px;
}

@media only screen and (max-width:800px) 
{

    .wrap {
        display:flex;
        flex-direction: column-reverse;
    }

    .box_no_scroll {
        width: 100%;
        background-color: white;
    }

    .box_scroll {
        width: 100vw;
        background-color: white;
        overflow: scroll;
    }

}
